*{
    margin: 0;
    padding: 0;  
}
body{
    background-image: url(../images/surf.jpg);
    background-image: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;   
}

/* navbar styles*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black; 
}
.navbar{
    padding: 0 !important;
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 2em; 
    color: #fff !important; 
    position: right;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: gold;
}
.navbar-light, .navbar-nav, .nav-link{
    padding: 5px 15px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}
/* end navbar style*/
