

.banner{
    position: relative;
    background: url(../images/forrest.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2{
    margin:0;
    padding:0;
    font-size:2.8em;
    font-weight:1000 ;
    color: #262626;
    text-transform: uppercase;
}
.navbar-light .navbar-toggler{
    border:none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}
.navbar-collapse{
    background: #fff;
}