*{
    margin: 0;
    padding: 0;
    
}


.banner{
    position: relative;
    background-image: url(../images/shape.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: no-repeat;
    padding: 250px 0 200px;
    color:#fff;
}
.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #ffff;
    text-transform: uppercase;
}
.banner p{
    margin:1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ffff;
    text-transform: uppercase;
}
.btnD1{
    display: inline-block;
    margin:1em 0 0;
    color: #ffff;
    text-transform: uppercase;
    border:none;
}
.btnD1:hover{
    color:#ffff;
    text-decoration: none;
}

body{
    background-image: url(../images/shape.jpg);
    background-image: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
   
}
