*{
    margin: 0;
    padding: 0;
    
}

#faceless{
    background-position: center;
    background-image: no-repeat;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    color: #fff;
    background-color: black;
  
}

.navbar{
    padding: 0 !important;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;  
    color: #fff !important;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}