*{
    margin: 0;
    padding: 0;
    background-color: black;
    
}

body{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    width: 100%;
    background-image:url(../images/faceless.jpg); 
    background-size: cover;
    background-attachment: fixed;
}

#faceless{
    background-position: center;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    color: #fff;
  
}

.navbar{
    padding: 0 !important;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;  
    color: #fff !important;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}